<div class="d-flex position-fixed">
  <div class="d-flex flex-column icon-container p-3" id="socialWrap">
    <i class="cursor-pointer icon-height my-3 fa fa-twitter"></i>
    <i class="cursor-pointer icon-height my-3 pe-auto fa fa-facebook"></i>
    <i class="cursor-pointer icon-height my-3 fa fa-instagram"></i>
    <i class="cursor-pointer icon-height my-3 fa fa-youtube-play"></i>
  </div>
</div>
